{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
        <h1>Hello World!</h1>
        <p>First, what's your name?</p>
        <!-- <form>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form> -->


        <p>This is my first Django project.</p>
        <p>Mass Effect is my favorite game on the Citadel.</p>
        <img src="{% static 'N7_STAMP.png' %}">

    </body>
</html>