<!DOCTYPE html>
<html>
    <head>
        <title>Fortune Teller</title>
    </head>
    <body>

        <h1>Fortune Teller</h1>

        <div class="form">
            <form action="{{ url_for("fortune")}}" method="POST">
                <input type="text" name="user">
                <select name="color">
                    <!-- onclick listens for click event and informs button function -->
                    <option name="red">red</option>
                    <option name="yellow">yellow</option>
                    <option name="blue">blue</option>
                    <option name="green">green</option>
                </select>
                <select name="number">
                    <option name="1">1</option>
                    <option name="2">2</option>
                    <option name="3">3</option>
                    <option name="4">4</option>
                </select>
                <button type="submit">submit</button>
            </form>
        </div>

        <div id="fortune"> 
            <!-- A Fortune Should Appear Here -->
        </div>

        <div>
            <p><a href=" {{url_for('default')}} ">Home</a></p>
        </div>
    </body>
</html>





