<!DOCTYPE html>
<html>
    <head>
        <title>Fortune Teller</title>
    </head>
    <body>

        <h1>Fortune Teller</h1>

        <div class="form">
            <form method="POST" action="/fortune">
                <input type="text" name="user">
                <select name="color">
                    <!-- onclick listens for click event and informs button function -->
                    <option onclick="getFortune('color', 'red')">red</option>
                    <option onclick="getFortune('color', 'yellow')">yellow</option>
                    <option onclick="getFortune('color', 'blue')">blue</option>
                    <option onclick="getFortune('color', 'green')">green</option>
                </select>
                <select name="number">
                    <option onclick="getFortune('number', '1')">1</option>
                    <option onclick="getFortune('number', '2')">2</option>
                    <option onclick="getFortune('number', '3')">3</option>
                    <option onclick="getFortune('number', '4')">4</option>
                </select>
                <button >submit</button>
            </form>
        </div>

        <div id="fortune"> 
            <!-- A Fortune Will Appear Here -->
        </div>

        <!-- grabs form data, uses it to return a fortune message to specified area of webpage-->
        <script>
            function getFortune(choiceType, choice) {
                // connects getFortune js function to get_function python method
                fetch('/get_fortune', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({choiceType: choiceType, choice: choice}),
                })
                // format response
                .then(response => response.json())
                // return response to window
                .then(data => {
                    document.getElementById('fortune').textContent = data.fortune;
                });
            }
        </script>

    </body>
</html>





