<html>
   <body>

 
      <h3> {{ game.name }}</h3>

   
   <table>
      <thead>
         <tr>
            <th>Name</th>
            <th>Developer</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Table ID</th>
            <th>Summary</th>
         
         </tr>
      </thead>

      <tbody>
         <tr>            
               <td>{{ game.name }}</td>
               <td>{{ game.dev }}</td>
               <td>{{ game.genre }}</td>
               <td>{{ game.rel }}</td>
               <td>{{ game.id }}</td>
               <td>{{ game.summ }}</td>
         </tr>
         
      </tbody>
   </table>

   <p>Go to <a href = " {{ url_for('show_all')}}" >All Games</a></p>

   </body>
</html>